<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.code.challenge">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:name="com.code.challenge.App"
    android:allowBackup="false"
    android:fullBackupOnly="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/ugu_app_name"
    android:largeHeap="true"
    android:requestLegacyExternalStorage="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/CodeAppTheme"
    android:usesCleartextTraffic="true"
    tools:ignore="UnusedAttribute"
    tools:replace="android:label,android:allowBackup">

    <activity
      android:name="com.code.challenge.features.ChallengeActivity"
      android:forceDarkAllowed="false"
      android:hardwareAccelerated="false"
      android:theme="@style/SplashAppTheme.NoActionBar"
      android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />

      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>

    </activity>

  </application>

</manifest>